 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    .stripes {
        position: absolute;
        top: 400px;
        /* left: -700px; */
        z-index: -1;
        min-height: 11%;
        min-width: 150%;
        display: flex;
        flex-direction: column;
        transform: rotate(25deg);
    }
    .stripe1 {
        min-height: 10%;
        min-width: 100%;
        background-color: rgb(214, 55, 55);
    }
    .stripe2 {
        min-height: 10%;
        min-width: 100%;
        background-color: rgb(85, 85, 233);
        margin-top: .6%;
    }
    .stripe3 {
        min-height: 10%;
        min-width: 100%;
        background-color: rgb(89, 168, 89);
        margin-top: .6%;
    }

    

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(38, 38, 38); 
        color: white;
        font-family: "Poppins", sans-serif;
        margin: 0%;
        transition: 1s;
        min-width: 100%;
        min-height: 100vh;
        position: absolute;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: auto;
    }
    body h1 {
        margin: 1%;
    }

    


    
    .horizontalLine {
        width: 100%;
        font-size: 2.5%;
        background-color: rgb(158, 158, 158);
    }


   .search {
        display: flex;
        flex-direction: row;
        width: 100%;
        transition: .2s;
    }
      
    
      
    .searchButton {
        height: 1.7em;
        line-height: 1.5em;
        margin-top: 1.5%;
        margin-left: -8%;
        padding: 3px 0;
        width: 28px;
        cursor: pointer;
        opacity: .5;
    }
    .searchButton:hover {
        opacity: 1;
    }


    .searchBar {
        width: 100%;
        border: none;
        padding: 2.5%;
        font-size: 120%;
        background-color: white;
        transition: .3s;
        box-sizing: border-box;
    }

    @media (max-width: 750px) and (min-width: 300px) {
        .results {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1%;
            border-radius: 10px;
        }
    }
    @media (max-width: 1000px) and (min-width: 751px) {
        .results {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1%;
            border-radius: 10px;
        }
    }
    @media (min-width: 1001px) {
        .results {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1%;
            border-radius: 10px;
        }
    }
    
    
    .autoCompleteList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 2.5%;
        background-color: white;
        color: rgb(99, 99, 99);
        box-sizing: border-box;
        text-decoration: none;
      }
    .autoCompleteList li {
        text-align: center;
        margin: 1%;
        padding: 1%;
        cursor: pointer;
        text-decoration: none;
      }


    .hintButton {
        padding: 1%;
        font-size: 120%;
        background-color: rgb(65, 65, 65);
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: .2s;
    }
    .hintButton:hover {
        background-color: rgb(45, 45, 45);
    }


    #newPokemon {
        padding: 1%;
        font-size: 120%;
        background-color: rgb(65, 65, 65);
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: .2s;
        margin-top: 1%;
    }
    #newPokemon:hover {
        background-color: rgb(45, 45, 45);
    }



    /* Generation range input styling */
    @media (max-width: 750px) and (min-width: 300px) {
        .generationSelectorContainer {
            margin: 2%;
            min-width: 80%;
            max-width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media (max-width: 1300px) and (min-width: 751px) {
        .generationSelectorContainer {
            margin: 2%;
            min-width: 60%;
            max-width: 60%;
            display: flex;
            justify-content: center;
        }
    }
    @media (min-width: 1301px) {
        .generationSelectorContainer {
            margin: 2%;
            min-width: 40%;
            max-width: 40%;
            display: flex;
            justify-content: center;
        }
    }    

    /* This shit doesn't work at all I need to fix it */
    .genTopRow, .genBottomRow {
        /* margin: 2%; */
        min-width: 70%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        /* margin-left: 3%;
        margin-right: 3%; */
    }  
    .generationSelectorContainer button{
        padding: 4%;
        font-size: 120%;
        background-color: rgb(66, 66, 66);
        border: none;
        border-radius: 10px;
        color: grey;
        margin: 2%;
    }
    .generationSelectorContainer button:hover{
        color: rgb(170, 170, 170);
    }



    

    #giveUpButton {
        padding: 1%;
        font-size: 120%;
        background-color: rgb(65, 65, 65);
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: .2s;
    }
    #giveUpButton:hover {
        background-color: rgb(45, 45, 45);
    }


    .image {
        display: flex;
        justify-content: center;
    }

    .sprite {
        max-width: 40%;
    }


   #leftText {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    margin: 1%;
   }
   #leftText p {
    margin: 1%;
   }

    

@media (max-width: 750px) and (min-width: 300px) {
    .typesAndRegionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2% 0% .5% 0%;
        min-width: 80%;
        max-width: 80%;
    }
}
@media (max-width: 1300px) and (min-width: 751px) {
    .typesAndRegionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2% 0% .5% 0%;
        min-width: 60%;
        max-width: 60%;
    }
}
@media (min-width: 1301px) {
    .typesAndRegionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2% 0% .5% 0%;
        min-width: 35%;
        max-width: 35%;
    }
}    
    
    .types {
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        padding: 0% 0% 0% 3%;
        margin: 0% 4% 0% 0%;
        border-radius: 10px;
        min-width: 30%;
        max-width: 30%;
    }
    .types h3 {
        margin: 5% 0% 0% 0%;
    }

    .typeIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 4%;
    }
    .typeIcons img {
        max-width: 30%;
        margin: 3%;
    }
    
    .region {
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        padding: 0% 0% 0% 3%;
        border-radius: 10px;
        min-width: 30%;
    }
    .region h3 {
        margin: 5% 0% 0% 0%;
    }
    .region p {
        align-self: center;
        padding: 0%;
        font-size: 120%;
    }
    
    
    @media (max-width: 750px) and (min-width: 300px) {
        .bigContainer {
            display: flex;
            flex-direction: row;
            min-width: 80%;
            max-width: 80%;
        }
    }
    @media (max-width: 1300px) and (min-width: 751px) {
        .bigContainer {
            display: flex;
            flex-direction: row;
            min-width: 70%;
            max-width: 70%;
        }
    }
    @media (min-width: 1301px) {
        .bigContainer {
            display: flex;
            flex-direction: row;
            min-width: 35%;
            max-width: 35%;
        }
    } 


    .bigContainer {
        display: flex;
        flex-direction: row;
        max-width: 40%;
    }
    
    .pokedexContainer {
        display: flex;
        flex-direction: column;
        padding: 2%;
        min-width: 55%;
    }
    
    .dexEntry1 {
        background-color: rgb(65, 65, 65);
        padding: 0% 0% 0% 3%;
        margin: 0% 0% 4% 0%;
        border-radius: 10px;
    }
    
    .dexEntry2 {
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        padding: 0% 0% 0% 3%;
        border-radius: 10px;
    }
    .dexEntry2 p {
        margin-top: 0%;
    }
    
    
    .heightAndWeightContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
        min-width: 35%;
    }
    
    .weight {
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        border-radius: 10px;
        padding: 0% 0% 0% 3%;
        margin: 0% 0% 4% 0%;
    }
    .weight h3 {
        margin: 5% 0% 0% 3%;
    }
    .weight p {
        align-self: center;
        margin: 0% 0% 10% 0%;
        padding: 0%;
        font-size: 120%;
    }
    
    .height {
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        padding: 0% 0% 0% 3%;
        border-radius: 10px;
    }
    .height h3 {
        margin: 5% 0% 0% 3%;
    }
    .height p {
        align-self: center;
        margin: 0% 0% 10% 0%;
        padding: 0%;
        font-size: 120%;
    }
    

    




    .animate {
        animation: fall .5s ease-in-out, shake 1.25s cubic-bezier(.36, .07, .19, .97) 10;
    }
    .fallAnimation {
        animation: fall-out 1s ease-in-out forwards;
    }


    /* False background to hide loading animation */
    .hide {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -5;
        background-color: rgb(38, 38, 38);
        transition: 1s;
    }


    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .center-on-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -10;
      }
      /* Poké Styles */
      .pokeball {
        position: relative;
        width: 200px;
        height: 200px;
        background: #fff;
        border: 10px solid #000;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: inset -10px 10px 0 10px #ccc;
        /* animation: fall .25s ease-in-out,
                   shake 1.25s cubic-bezier(.36,.07,.19,.97) 3; */
      }
      .pokeball::before,
      .pokeball::after {
        content:"";
        position: absolute;
      }
      .pokeball::before {
        background: red;
        width: 100%;
        height: 50%;
      }
      .pokeball::after {
        top: calc(50% - 10px);
        width: 100%;
        height: 20px;
        background: #000;
      }
      .pokeball__button {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
        background: #7f8c8d;
        border: 10px solid #fff;
        border-radius: 50%;
        z-index: 10;
        box-shadow: 0 0 0 10px black;
        /* animation: blink .5s alternate 7; */
      }
      /* Animation */
      @keyframes blink {
        from { background: #eee;}
        to { background: #e74c3c; }
      }
      @keyframes shake {
        0% { transform: translate(0, 0) rotate(0); }
        20% { transform: translate(-10px, 0) rotate(-20deg); }
        30% { transform: translate(10px, 0) rotate(20deg); }
        50% { transform: translate(-10px, 0) rotate(-10deg); }
        60% { transform: translate(10px, 0) rotate(10deg); }
        100% { transform: translate(0, 0) rotate(0); }
      }
      @keyframes fall {
        0% { top: -200px }
        60% { top: 0 }
        80% { top: -20px }
        100% { top: 0 }
      }
      @keyframes fall-out {
        0% { top: 0; }
        100% { top: 100vh;}
      }